@{
    Layout = "_Layout";
}

<h2>About Us</h2>

<p>This web app was a group project that orginally started in CSI340 with the team members Steven, Kenny, and Garret</p>

<p>More to be added in the future.....</p>